<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>I'm a backend engineer currently working for an AdTech company called TripleLift. After graduating from the University of Vermont in 2011 with a double B.A. in Film and Russian Language, I moved to New York in 2011 to take a job working for a Russian TV network called RTVi, then after a year I made the move into tech by taking a customer support role at StreetEasy.</p>
          </div>          
          <div class="col-lg-6">
            <p>I spent two years there, becoming a Senior Product Specialist by the time I left in 2014 following an acquisition by Zillow. It was at StreetEasy that I discovered a love for coding, specifically Ruby on Rails, and began teaching myself to code in early 2013.</p>
          </div>
          </div>
        </div>
    </div>
</section>