<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <p>I'm a web developer currently seeking my next opportunity. After graduating from the University of Vermont in 2011 with a double B.A. in Film and Russian Language, I moved to New York in 2011 to take a job working for a Russian TV network called RTVi, then after a year I made the move into tech by taking a customer support role at StreetEasy. I spent two years there, becoming a Senior Product Specialist by the time I left in 2014 following an acquisition by Zillow. It was at StreetEasy that I discovered a love for coding, specifically Ruby on Rails, and began teaching myself to code in early 2013.</p>
          </div>
          <div class="col-lg-4">
            <p>I left StreetEasy in order to co-found a real estate start-up called ClearDigs, aimed at giving New Yorkers more time to plan their next move. Following ClearDigs, and after a short stint trying to find a publisher for a 400-page fantasy novel I had written during nights and weekends while at StreetEasy, I decided it was time to take my programming abilities to the next level. I was admitted to the Flatiron School's web development program in November 2015, and spent three months completely immersed in Ruby, Rails, JavaScript, Ember, group projects, lectures, and much more.</p>
          </div>
          <div class="col-lg-4">
          	<p>Following Flatiron, I landed my first professional coding gig as a support engineer at Teckst, a small startup that provides texting software to businesses for customer support (B2B, SaaS). I coded extensively using Ruby and 3rd-party APIs, such as Twilio, and also handled all installations of our product for new clients. I am eager to join a team of creative, collaborative individuals at a dynamic company as a junior developer or a support engineer, where I could bring a great deal to the table. Drop me a line if you are hiring, or know of such an opportunity!</p>
          </div>
        </div>
    </div>
</section>