<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img id="avatar" class="img-circle" src="<%= asset_path('profile.jpg') %>">
        <div>
          <p>Sam Vary</p>
          <hr class="star-light">
          <span class="skills">Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>