<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                      <h2>Small Talk</h2>
                      <hr class="star-primary">
                      <img src="assets/smalltalk.png" class="img-responsive img-centered" alt="">
                      <p>Small Talk is a web app that will help you become the life of the party! You can visit the site <a href="http://www.smalltalkto.me" target="_blank">here</a>.</p>
                      <ul class="list-inline item-details">
                        <li>Date:
                          <strong>Winter 2016</strong>
                        </li>
                        <li>Language(s):
                          <strong>Ruby on Rails, JavaScript, Bootstrap, AJAX</strong>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                      <h2>Fields of Peril</h2>
                      <hr class="star-primary">
                      <img src="assets/fields.png" class="img-responsive img-centered" alt="">
                      <p>Fields of Peril is a text-based adventure game written entirely in Ruby. To view the repository, along with instructions on how to install and play the game, click <a href="https://github.com/samuelvary1/fields_of_peril">here</a></p>
                      <ul class="list-inline item-details">
                        <li>Date:
                          <strong>Fall 2016 (ongoing)</strong>
                        </li>
                        <li>Language:
                          <strong>Ruby</strong>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>