<section id="projects" class="success" style="padding-top: 35px;">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <div class="container col-lg-12">
	                <div class="col-lg-6">
		                <h1>Fields of Peril</h1>
		                <hr>
		                <img src="<%= asset_path('fields.png') %>" class="img-responsive img-centered" alt="">
		              </div>
		              <div class="col-lg-6" style="padding-top:10%;">
		                <p>Fields of Peril is a text-based, World War II-themed historical adventure game written entirely in Ruby. To view the repository, along with instructions on how to install and play the game, click <a href="https://github.com/samuelvary1/fields_of_peril" target="_blank">here</a>.</p>
		                <ul class="list-inline item-details">
		                  <li>Started:
		                    <strong>Fall 2016</strong>
		                  </li>
		                  <li>Language:
		                    <strong>Ruby</strong>
		                  </li>
		                </ul>
		              </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>