<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Sam Vary</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>     
                <li class="page-scroll">
                    <a href="#projects">Projects</a>
                </li>
                <li class="page-scroll">
                    <a href="https://github.com/samuelvary1" target="_blank">GitHub</a>
                </li>
                <!-- turn this into a modal with thumbnails maybe -->           
                <li class="page-scroll">
                    <a href="https://www.amazon.com/author/samvary">Books</a>
                </li>                
                <!-- short films section could also be cool with thumbnails, try to keep the whole thing on one page -->
        <!--                 <li class="page-scroll">
                    <a href="https://www.amazon.com/author/samvary">Short Films</a>
                </li>  -->               
                <li class="page-scroll">
                    <a href="https://samscartoon.bandcamp.com/">Music</a>
                </li>
                <li>
                    <%= link_to "Resume", image_path("resume.pdf"), target: "_blank" %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>